# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.dart_tool/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/src/debug
/android/app/src/profile
/android/app/src/release
/android/app/kestore.jks
/android/key.properties
/android/app/google-services.json
/android/.gradle/
/android/gradlew/
/android/app/src/main/
/android/kotlin/


# Only use android or ios
/web/
/macos/
/linux/
/windows/
firebase.json

/lib/firebase_options.dart
android/app/src/devDebug/google-services.json
android/app/src/devRelease/google-services.json

# FVM Version Cache
.fvm/
.fvmrc

pubspec.lock
/.vscode/settings.json